*{ 
    margin:0; 
    padding:0;
    tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-callout: none;
    -moz-touch-callout: none;
    -webkit-touch-callout: none;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{padding-left:20px;list-style:none;cursor:pointer;display:inline;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-size:14px;font-weight:inherit;font-family:helvetica,arial;resize:none;}
*:focus{outline:none}
input,textarea{-moz-user-select:auto;-webkit-user-select:auto;-moz-appearance:none;-webkit-appearance:none;border-radius:0;}
html,body{height:100%; width:100%;margin:0;padding:0;}
body{font-family:'Kelly Slab','Myriad Pro', Arial, sans-serif;}
a{cursor:pointer;text-decoration:none;}

::-webkit-input-placeholder {color:#CCC;}
input:-moz-placeholder {color:#CCC;}
html{overflow-x:hidden;}
body{height:auto;position:relative;font-size:16px;}

/**base layout**/
.header,.body,.footer{width:100%;}
.header{height:60px;}
.remind{color:#666;font-size:2em;margin:0 .8em .02em .8em;border-bottom:1px dotted #CCC;}
.already{color:#949494;}
.gist{position:absolute;top:0;left:260px;}
.gist-two{margin-left:3.7em;}
.noline{width:331px;position:relative;right:0;height:2px;background-color:#FFF;top:-3px;border-right:2px solid;}
.body{position:relative;height:auto;}


.footer{display:none;}
.gotop{position:fixed;bottom:-80px;right:20px;padding:10px;border:1px solid #ccc;border-bottom:1px solid #eee;}
.gotop.showed{bottom:20px;-webkit-transition-duration:1s;-moz-transition-duration:1s;-ms-transition-duration:1s;transition-duration:1s;}

/**timeline and timeline element node**/
.timeline{position:absolute;}
.unknown{position:relative;width:6em;margin-left:-2.98em;text-align:center;font-size:6em;font-family:"黑体";opacity:0.8;}
.timeline{position:absolute;width:4px;background:rgba(17,17,22,.8);top:6.4em;margin-left:-2px;height:100%;}
.contianer{position:relative;width:100%;height:100%;}
.left,.right{position:relative;height:100%;}

.unknown,.timeline{left:20%;}
.unknown .roundabout{cursor:pointer;}
.left{width:20%;left:0;text-align:right;min-height:30px;}
.right{width:80%;left:20%;top:-2em;overflow:hidden;}


.datetime{color:rgba(78,84,123,0.8);position:absolute;right:.6em;cursor:pointer;}
.group,.zone{width:100%;}
.group{position:relative;height:auto;}
.zone{min-height:80px;}
.title{position:relative;left:.8em;font-size:1.4em;}

.zone h3{padding:0 2.5em;}
.zone h3 span{color: rgba(100,100,100,0.8);font-size:13px;display:block;padding-bottom:5px;}
.zone h3 .content{font-size:28px;color:rgba(100,100,100,1);display:block;}
.zone p{line-height:1.4em;}

.bold{font-weight:bold;}


.about{width:250px;height:auto;position:absolute;right:1.5em;top:0;background:#FFF;}
.about .contact-me{text-align:right;width:100%;display:inline-block;padding:.4em 0 .8em;border-right:1px dotted #CCC;}
.about.fold .contact-me{border:none;}
.about .contact-me span{width:auto;display:inline-block;}
.about.fold .contact-me span{width:0;}
.about .information{padding:0 .5em;position:relative;right:-1px;height:auto;overflow:hidden;border:1px dotted #CCC;border-top:none;}
.about.fold .information{padding:0;}
.about .information label{display:inline-block;width:3em;}

.group .zone,.about .information{height:auto;-webkit-transition-duration:1s;-moz-transition-duration:1s;-ms-transition-duration:1s;transition-duration:1s;}
.group.fold .zone,.about.fold .information{height:0;min-height:0;overflow:hidden;-webkit-transition-duration:1s;-moz-transition-duration:1s;-ms-transition-duration:1s;transition-duration:1s;}
.to-fold{display:none;padding-left:.4em;}
.group.fold .to-fold{width:auto;display:inline;}

@media (max-width:667px){
	body{min-width:100%;overflow-x:hidden;}
	.header{height:auto;}
	.remind{font-size:1.8em;border:none;}
	.noline{display:none;}
	
	.gist{position:relative;left:1em;}
	.gist-two{margin-left:1em;}
	.about{top:110px;left:50%;margin-left:-125px;border-top:1px dotted #CCC;border-bottom:1px dotted #CCC;}
	.about.fold,.about.fold .information{height:auto;}
	.about .information,.about .contact-me{border:none;}
	.about .contact-me{padding:0;}
	
	
	
	.body{top:160px;}
	.unknown, .timeline{left:25%;}
	.roundabout{margin-left:19%;}
	.unknown{width:100%;margin-left:0;left:0;text-align:left;}
	.left{width:25%;}
	.right{width:75%;left:25%;}
	.title{font-size:1.2em;}
}






